.projects {
    font-family: Arial, Helvetica, sans-serif;
    margin: 70px;
}

.title {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.card {
}

.mainGrid {
    justify-content: center;
}
